@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

    <div class="text-center">
        <h3 class="display-4">Food Truck Tracker</h3>
        <br />
        <br />
        <p>Hungry??</p>
        <br />
        <p>See who's out there on the streets right now!</p>
        <br />
        <br />
        <img class="img-fluid mx-auto" src="~FoodTruckTracker/Pics/HomePage.jpg" alt="TruckDude" width="300" height="240">
    </div>
