@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h3 class="display-4">Food Truck Tracker</h3>
        <br />
        <p><strong>Hungry?!?</strong></p>
        <br />
        <p><strong>See who's out there on the streets right now!</strong></p>
        <br />
        <img class="img-fluid mx-auto" src="~/images/HomePage.jpg" alt="TruckDude" width="300" height="240">
    </div>
