@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Privacy Policy</h1>
    <br />
    <br />
    <p>We will never sell your information to any third party orginization(s), or use it without prior written or verbal consent.</p>
    <br />
    <br />
</div>
